services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    env_file:
      - ./backend/.env.development
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    restart: unless-stopped
    environment:
      - NODE_ENV=development
    depends_on:
      - tr1-mysql
    command: ["./wait-for-it.sh", "tr1-mysql:3306", "--", "npm", "run", "dev"]

  tr1-mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: muvv-database
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - ./backend/database/init.sql:/docker-entrypoint-initdb.d/init.sql
      - db-data:/var/lib/mysql

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    command: ["php", "-S", "0.0.0.0:8080", "-t", "/var/www/html"]
    environment:
      - ADMINER_DEFAULT_SERVER=tr1-mysql

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:5000
      - VITE_WS_URL=ws://localhost:5000
    restart: unless-stopped

volumes:
  db-data:
